div{
    margin-top: 25px;
    text-align: center;
	color: beige;
}
button
{
	border: none;
	outline: none;
	padding: 11px 5px;
	background: #45f3ff;
	cursor: pointer;
	border-radius: 4px;
	font-weight: 600;
	width: 100px;
	margin-top: 10px;
}
button:active 
{
	opacity: 0.8;
}