<div>
    <h1>M8 IT Solution Pvt Ltd</h1>
    <p> <span>Address:</span> 3rd Floor, Vue Grande, 339, Chinnasawamy Road,</p>
    <p>Siddhapudur,Balasundaram Layout, B.K.R Nagar</p>
    <P>Coimbatore, Tamil Nadu 641044</P>
    <p><span>Phone :</span>1231231233</p> 
    <p><span>Email:</span> abc@gmail.com</p>
</div>

<div>
    <h1>Redux</h1>
<button (click)="increment()">Increment</button>
<div>Current Count:{{count$ |async}}</div>
<br>
<button (click)="decrement()">Decrement</button>
<br> <br>   
<button (click)="reset()">Reset</button>
</div>
