.box1{
	
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 12vh;
    flex-direction: column;
    background: #23242a;
    color: beige;
}

button
{
	border: none;
	outline: none;
	padding: 11px 25px;
	background: #45f3ff;
	cursor: pointer;
	border-radius: 4px;
	font-weight: 600;
	width: 100px;
	margin-top: 10px;
}
button:active 
{
	opacity: 0.8;
}